*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
}
.form-container{
    width: 100%;
    margin-top: 7%;
    display: flex;
    justify-content: center;
}
.form-con{
    background: rgb(85, 123, 163);
    padding: 10px;
    border-radius: 19px;
    width: 70%;
    text-align: center;
}
.con{
    margin: 3px 0;
}

.con input{
    width: 90%;
    padding: 4px 10px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 13px;
}

#login{
    font-size: 17px;
    border: none;
    background: rgb(132, 165, 236);
    padding: 12px;
    cursor: pointer;
}
form{
    margin-bottom: 24px;
}
.addHeadTeacherDiv{
    font-size: 16px;
    margin: 10px;
}
/* CODE FOR THE LOGIN PAGE */
.container{
    background: rgba(236, 237, 240, 0.947);
}
#logout{
    padding: 6px;
    font-size: 18px;
    background: rgb(11, 13, 18);
    color: wheat;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
}

.col-image{
    padding: 0 12px;
    text-align: center;
}

.col-image a img{
    width: 300px;
    height: 300px;
}
.con{
    width: 99%;
    text-align: center;
}

.con-btn{
    padding: 9px;
    width: 150px;
    font-size: 17px;
    color: rgb(5, 32, 57);
    border: none;
    box-shadow: 1px 1px 24px rgba(104, 120, 143, 0.801);
    margin: 5px;
    border-radius: 14px;
    cursor: pointer;
}

.col-small{
    font-size: 25px;
    font-weight: bolder;
    color: rgba(94, 119, 183, 0.714);
}

/* PHONE SCREEN 300PX TO 575PX*/
@media (max-width: 575.98px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body{
        width: 100%;
        padding: 9% 0;
    }
    .form-container{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .form-con{
        margin-top: 9%;
        background: transparent;
        border: 1px solid rgb(132, 165, 236);
        padding: 15px 0;
        border-radius: 12px;
        width: 100%;
        text-align: center;
    }
    .con{
        margin: 12px 0;
    }
    
    .con input{
        width: 98%;
        padding: 10px 0;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        border: none;
        border-radius: 9px;
    }
    
    #login{
        font-size: 16px;
        border: none;
        background: rgb(16, 22, 36);
        font-weight: bolder;
        color: white;
        padding: 7px;
        cursor: pointer;
    }
    form{
        margin-bottom: 15px;
    }
    .addHeadTeacherDiv{
        font-size: 16px;
        margin: 5px;
    }
    /* CODE FOR THE LOGIN PAGE */
.container{
    background: rgba(236, 237, 240, 0.947);
}
#logout{
    padding: 6px;
    font-size: 18px;
    background: rgb(11, 13, 18);
    color: wheat;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
}

.col-image{
    padding: 0 1px;
    text-align: center;
}

.col-image a img{
    width: 98%;
    height: 270px;
}
.con{
    width: 100%;
    text-align: center;
}

.con-btn{
    padding: 3px;
    width: 120px;
    font-size: 12px;
    color: rgb(5, 32, 57);
    border: none;
    box-shadow: 1px 2px 20px rgba(92, 128, 179, 0.801);
    margin: 2px;
    border-radius: 12px;
    cursor: pointer;
}

.col-small{
    font-size: 19px;
    font-weight: bolder;
    color: rgba(94, 119, 183, 0.714);
}
}

/* PHONE SCREEN 576PX TO 767PX*/
@media (min-width: 576px) and (max-width: 767.98px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body{
        width: 100%;
    }
    .form-container{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .form-con{
        margin-top: 13%;
        background: rgb(171, 196, 224);
        padding: 15px 0;
        border-radius: 12px;
        width: 90%;
        text-align: center;
    }
    .con{
        margin: 15px 0;
    }
    
    .con input{
        width: 99%;
        padding: 13px 0;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        border: none;
        border-radius: 9px;
    }
    
    #login{
        font-size: 19px;
        border: none;
        background: rgb(16, 22, 36);
        font-weight: bolder;
        color: rgb(88, 241, 200);
        padding: 10px;
    }
    form{
        margin-bottom: 25px;
    }
    .addHeadTeacherDiv{
        font-size: 16px;
        margin: 7px;
    }
    /* CODE FOR THE LOGIN PAGE */
.container{
    background: rgba(236, 237, 240, 0.947);
}
#logout{
    padding: 6px;
    font-size: 18px;
    background: rgb(11, 13, 18);
    color: wheat;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
}

.col-image{
    padding: 0 3px;
    text-align: center;
}

.col-image a img{
    width: 80%;
    height: 400px;
}
.con{
    width: 100%;
    text-align: center;
}

.con-btn{
    padding: 5px;
    width: 195px;
    font-size: 15px;
    color: rgb(5, 32, 57);
    border: none;
    box-shadow: 1px 2px 22px rgba(92, 128, 179, 0.801);
    margin: 5px;
    border-radius: 14px;
}

.col-small{
    font-size: 23px;
    font-weight: bolder;
    color: rgba(61, 160, 230, 0.895);
}
}

/* PHONE SCREEN 768PX TO 991PX*/
@media (min-width: 768px) and (max-width: 991.98px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body{
        width: 100%;
    }
    .form-container{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .form-con{
        margin-top: 11%;
        background: transparent;
        border: 1px solid rgb(132, 165, 236);
        padding: 7px 0;
        border-radius: 15px;
        width: 89%;
        text-align: center;
    }
    .con{
        margin: 17px 0;
    }
    
    .con input{
        width: 100%;
        padding: 13px 0;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        border: none;
        border-radius: 10px;
    }
    
    #login{
        font-size: 19px;
        border: none;
        background: rgb(16, 22, 36);
        font-weight: bolder;
        color: rgb(158, 149, 93);
        padding: 10px;
    }
    form{
        margin-bottom: 28px;
    }
    .addHeadTeacherDiv{
        font-size: 20px;
        margin: 7px;
    }
    /* CODE FOR THE LOGIN PAGE */
.container{
    background: rgba(236, 237, 240, 0.947);
}
#logout{
    padding: 6px;
    font-size: 18px;
    background: rgb(11, 13, 18);
    color: wheat;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
}

.col-image{
    padding: 0 3px;
    text-align: center;
}

.col-image a img{
    width: 79%;
    height: 470px;
}
.con{
    width: 100%;
    text-align: center;
}

.con-btn{
    padding: 5px;
    width: 200px;
    font-size: 15px;
    color: rgb(2, 40, 44);
    border: none;
    box-shadow: 1px 2px 22px rgba(134, 164, 205, 0.801);
    margin: 5px;
    border-radius: 14px;
}

.col-small{
    font-size: 24px;
    font-weight: bolder;
    color: rgba(13, 35, 51, 0.808);
}
}

