*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
table{
    font-size: 17px;
}
th, td{
    padding: 2px;
    outline: 1px solid black;
}

@media (max-width: 575.98px){
    table{
        width: 100%;
    }
    th,td{
        font-size: 10.5px;

    }
}
@media (min-width: 576px) and (max-width: 767.98px){
    table{
        width: 100%;
    }
    th,td{
        font-size: 17px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px){
    table{
        width: 95%;
    }
    th,td{
        font-size: 18px;
    }
}