<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/index.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="title-bar">
            <h1><%= title %></h1>
        </div>
        <div class="content">
        <a href="/login"><button>Login as Head Teacher</button></a>
        <a href="/teacher"><button>Login as Teacher</button></a>
        <a href="/studenthome"><button>Student</button></a>
        </div>
    </div>
</body>
</html>