<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/studenthome.css">
    <title><%= title %></title>
</head>
<body>
    <div class="container">
        <div class="content">
            <h1 class="title"><%= title %></h1>
    <a href="student_login"><button>First Term Result</button></a>
    <a href="student_login2"><button>Second Term Result</button></a>
    <a href="student_login3"><button>Third Term Result</button></a>
    </div>
    </div>
</body>
</html>